<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">

<div class="top">
    <h2 class="header">
    Click any book to view the details.
    </h2>
</div>

<div class="bookSection">
    <div class="books">
        <a href="books/1">
            <br />
            <%= books[0].bookTitle%>
            <br />
            <br />
        </a>
    </div>

    <br />

    <div class="books">
        <a href="books/2">
            <br />
            <%= books[1].bookTitle%>
            <br />
            <br />
        </a>
    </div>

    <br />

    <div class="books">
        <a href="books/3">
            <br />
            <%= books[2].bookTitle%>
            <br />
            <br />
        </a>
    </div>
</div>

</div>