<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">

<div class="top">
    <h2 class="header">
    Click any book to view the details.
    </h2>
</div>

<div class="bookSection">

    <div class="books">
        <br />
        Compilers: Principles, Tools, and Techniques
        <br />
        <br />
    </div>

    <br />

    <div class="books">
        <br />
        Data Structures and Algorithms in Java
        <br />
        <br />
    </div>

    <br />

    <div class="books">
        <br />
        The Cat in the Hat
        <br />
        <br />
    </div>
</div>

</div>